.aboutHero {
  position: relative;
}
.aboutHero img{
 margin-top: 130px;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  color: #A86434;
 padding-left: 25px;
  
}
.hero-content h1{
  font-family: 'CustomFont3';
  font-size: 120px;
  text-transform: uppercase;
}
.hero-content p{
 
  font-size: 30px;

}



  .aboutcontainer{
    padding:120px 30px 120px 60px
  }
  .aboutSection{
    background-image: url("/assets/rangmohey\ website\ design-12.jpg");
    font-family: "Poppins", serif;
    background-size: cover; /* Ensures the image covers the entire area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
   
  }
  .aboutSection .card{
margin-top: 150px;
margin-bottom: 150px !important;
  }
  .aboutSection img{
    border: 10px solid #C88A90;
  }
  .aboutSection h1{
    font-family: 'CustomFont', sans-serif;
    color: #C88A90;
    font-size: 80px;
   
  }
  .custom-underline {
    display: inline-block; /* Ensure underline adjusts to text width */
    border-bottom: 3px solid #C88A90; /* Adjust thickness and color */
  }
  .aboutSection p{
    margin-top: 40px;
    font-size: 22px;
    text-align: justify;
  }
  /* Responsive Adjustments */
@media (max-width: 768px) {
  .hero-content {
   
   padding-left: 0;
    
  }
  .hero-content h1{
    font-family: 'CustomFont3';
    font-size: 60px;
    text-transform: uppercase;
  }
  .hero-content p{
   
    font-size: 15px;
  
  }
}
  