
.bestHeading{
  font-size: 80px; 
  margin-bottom: 70px;
  font-weight:400;
  font-family:"customFont3";
  text-transform:uppercase;
}


.aboutSection{
  background-image: url("/assets/rangmohey\ website\ design-12.jpg");
  font-family: "Poppins", serif;
  background-size: cover; /* Ensures the image covers the entire area */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling */
  padding:120px 30px 120px 60px
}
.aboutSection .card{
margin-top: 150px;
margin-bottom: 150px !important;
}
.aboutSection img{
  border: 10px solid #C88A90;
}
.aboutSection h1{
  font-family: 'CustomFont', sans-serif;
  color: #C88A90;
  font-size: 80px;
 
}
.custom-underline {
  display: inline-block; /* Ensure underline adjusts to text width */
  border-bottom: 3px solid #C88A90; /* Adjust thickness and color */
}
.aboutSection p{
  margin-top: 40px;
  font-size: 22px;
  text-align: justify;
}


.belowHero {
  position: relative;
  
}


.below-hero-content {
  position: absolute;
  top: 0;
  left: 0;
 
  color: black;

 width: 100%;
 height: 100%;
 background-color: rgba(128, 128, 128, 0.5); ; /* Greyish Tint */
 
  padding: 20px;
}
.below-hero-images{
 
  height: 400px;
  width: 100%;   /* Flexible width */
  object-fit: cover; /* or 'contain' depending on desired fit */
  border-radius: 40px;
}
.below-hero-content h1{
  font-family: 'CustomFont3';
  
  font-size: 5vw;
  text-transform: uppercase;
}
.below-hero-content p{
 
  font-size: 25px;
  color: white;

}


/* Responsive Adjustments */
@media (max-width: 768px) {
  .below-hero-images {
    height: 300px;
  }

  .below-hero-content h1 {
    font-size: 6vw;
  }

  .below-hero-content p {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .below-hero-images {
    height: 250px;
  }

  .below-hero-content h1 {
    font-size: 7vw;
  }

  .below-hero-content p {
    font-size: 0.9rem;
  }
}