.mainNavbar {
  width: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.4); /* transparent over hero */
  backdrop-filter: blur(4px); /* modern blur effect */
  font-family: "Poppins", serif;
}

.mainNavbar .logo {
  height: 80px;
  margin-left: 30px;
}

.navLinks {
  color: white;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
}

.navLinks:hover,
.navLinks.active {
  color: white;
  border-bottom: 2px solid white;
}

.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.6);
}

.dropdown-item:hover {
  background-color: transparent;
  color: white;
  border-bottom: 1px solid white;
}
