.mainNavbar{
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  transition: background 0.3s ease-in-out;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}
.mainNavbar .logo{
  height: 90px; /* Adjust as needed */
  width: auto;
  max-height: 100px;
  margin: 10px 0px 15px 30px;
  
}
.mainNavbar .nav-link {
  color: white;
  text-decoration: none;
  font-size: 25px;
  text-transform: uppercase;
}
.mainNavbar .nav-link:hover{
  color: white;
}
.mainNavbar .navbar-nav .nav-link {
  color: white; /* Maintain original color */
}

.mainNavbar .navbar-nav .nav-link.active {
  color: white !important; /* Prevent color change on active state */
  background-color: transparent !important; /* Remove background highlight */
  border-bottom: 2px solid white!important;
}

.mainNavbar .searchButton{
  
  color: white;
  padding:10px 25px;
  font-size: 25px;
  font-weight: 200;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.mainNavbar .searchButton:hover{
  background: rgba(0, 0, 0, 0.7);
  color: white;
}
.mainNavbar .nav-underline{
  font-weight: 200!important;
}

@media (max-width: 768px) {
  .logo {
    height: 60px; /* Responsive size for smaller screens */
  }
}