.navbar-custom {
    background-color: transparent;
    padding: 10px 20px;
  }

  .navbar-brand img {
    width: 150px;
  }

  .navbar-nav {
    margin: 0 auto; /* Center navigation links */
  }

  .nav-link {
    font-size: 18px;
    font-weight: 500;
    color: white;
    padding: 0 15px;
  }

  .nav-link:hover {
    text-decoration: underline;
    color: #f8f9fa;
  }

  .icon-container i {
    font-size: 20px;
    margin-left: 20px;
    color: white;
    cursor: pointer;
  }

  .icon-container i:hover {
    color: #f8f9fa;
  }