footer{
    background-color: #DAB1B5;
    font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
  color: #FBFBFA;
}
.heading{
    font-size: 30px;
}
.list-unstyled .links{
  text-decoration: none!important;
  color: inherit;
}
.list-unstyled .links :hover{
  font-weight: 400;
}