*{
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
 
}

@font-face {
    font-family: 'CustomFont';
    src: url('./fonts/royale-brone.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'CustomFont2';
    src: url('./fonts/BreadleySerif-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'CustomFont3';
    src: url('./fonts/baskervi.ttf ') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
 
  