*,
*::after,
*::backdrop{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:active,:hover,:focus{
  outline: 0!important;
  outline-offset: 0;
}
link:hover{
  text-decoration: none;
}
ul, ol{
  margin: 0;
  padding: 0;
}
html, body {
  overflow-x: hidden;
}

[data-aos] {
  max-width: 100vw;
  overflow-x: hidden;
}


.row {
  margin-right: 0;
  margin-left: 0;
}
