.banner{
  position: relative;
  height: 150vh; /* Adjust based on your requirements */
  
}


.banner > img{
  filter: blur(6px);
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  object-fit: cover;
  z-index: -1;
}
.hero-overlay {
  z-index: 1;
  color: white;
 padding-left: 150px;

 
  
}


.hero-overlay h1{
  font-family: 'CustomFont2', sans-serif;
  
  line-height: 0.7;
}

.hero-overlay .sharp-white-line {
  background-color: white;
    height: 3px;  /* Height of the line */
    width: 180px;  /* Width of the line */
    clip-path: polygon(0% 0%, 10% 50%, 0% 100%, 100% 100%, 90% 50%, 100% 0%);
  
}
.overlay-image{
  
  height: 100%; /* Full height */
  object-fit: cover;
  position: absolute;
  bottom: -10px;
  right: -80px;
 
 
}
.aboutButton{
  
  color: white;
  padding:5px 40px;
  font-size: 35px;
  font-weight: 300;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.aboutButton:hover{
  background: rgba(0, 0, 0, 0.9);
  color: white;
}


 
