.banner {
    position: relative;
    overflow: hidden;
  }

.banner  img{
    width: 100vw;
            height: 100%;
            object-fit: cover;
            filter: blur(6px);
}
.banner-content {
    
  }

 
