.hero-section {
    position: relative;
    height: 150vh; /* Adjust based on your requirements */
    overflow: hidden;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/assets/1036B.jpg') no-repeat center center/cover;
    filter: blur(10px);
    z-index: -1;
  }
  
  .text-section {
    z-index: 1;
    background: rgba(255, 255, 255, 0.8); /* Optional: Add semi-transparent background */
  }
  
  .text-content h1,
  .text-content p {
    color: #000; /* Adjust text color for better visibility */
  }
  
  .secondary-image {
    height: 100%; /* Full height */
    object-fit: cover;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
  }
  